<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="message">
	<insert id="insertSendHistory" parameterType="sendHistoryVO" >
		INSERT INTO send_history (sender, receiver, send_type, content, file_seq ) 
		VALUES (#{sender}, #{receiver}, #{sendType}, #{content}, #{fileSeq})
	</insert>
</mapper>